/* You can add global styles to this file, and also import other style files */
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.example-spacer {
  flex: 1 1 auto;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 100%;
    padding:15px;
}
.mat-drawer { 
    background-color: #023075;
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}