<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item  href=""> User </a>
      <a mat-list-item href=""> Apps </a>
      
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <mat-icon>menu</mat-icon>
     </button>
     <span>My App</span>
     <span class="example-spacer"></span>
     <span>New</span>
     <span class="example-spacer"></span>
     <span>List</span>
     
    
   </mat-toolbar>
    
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="card mt-4">
  <h4 class="card-header"></h4>
  <div class="card-body">
      <h6>Users from secure api end point</h6>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="users">
          <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
      </ul>
  </div>
</div>