
<div class="container spacer">
  <div class="card">
    <div class="card-header"> Users List</div>
    <div class="card-body" *ngIf="users">
        <table class="table table-striped">
          <tr>
          <th>ID</th>
          <th>Email</th>
          </tr>
          <tr *ngFor="let user of users.docs">
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>
            <a (click)="onEdituser(user.id)" class="clickable">Edit</a>
          </td>
          <td>
            <a (click)="onDeleteuser(user)" class="clickable">Delete</a>
          </td>
        </tr>
        </table>
    </div>
  </div>
</div>
 


<p>user-list works!</p>
<!--div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Users List</div>
      <div class="panel-body" *ngIf="users">
        
        <table class="table">
          <tr>
            <th>Id</th><th>Email</th><th>Password</th>
          </tr>
          <tr *ngFor="let user of users.docs">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.passtoken}}</td>
            
          </tr>
        </table>
        
      </div>
    </div>
  </div-->
