

<p>user-list works!</p>
<!--div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Users List</div>
      <div class="panel-body" *ngIf="users">
        
        <table class="table">
          <tr>
            <th>Id</th><th>Email</th><th>Password</th>
          </tr>
          <tr *ngFor="let user of users.docs">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.passtoken}}</td>
            
          </tr>
        </table>
        
      </div>
    </div>
  </div-->
